#formContact {
    margin-top: 2%;
    
}

#fieldsetForm{
    padding: 5%;
    border-radius:5px;
    border:solid 1.5px black;
    background-color:lightgrey;
}

input {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}